<!DOCTYPE html>

<head>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
</head>

<body>
    <h1>Servers</h1>
    <ul>
        {% for server in servers %}
        <li>{{ server }} ({{ server.phase }} - {{ server.mach_type }})</li>
        {% endfor %}
    </ul>
    <div id="chartdiv" style="height: 500px;"></div>
    <script>
        var chart = am4core.create("chartdiv", am4charts.XYChart);
        
        var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
        dateAxis.baseInterval = {
            "timeUnit": "minute",
            "count": 5,
        }
        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.min = 0;

        {% for group in groups %}
            series = chart.series.push(new am4charts.LineSeries());
            series.dataFields.valueY = "{{ group }}";
            series.dataFields.dateX = "date";
            series.tooltipText = "{{ group }}";
            series.name = "{{ group }}";
            series.bullets.push(new am4charts.CircleBullet());
        {% endfor %}

        chart.cursor = new am4charts.XYCursor();
        chart.legend = new am4charts.Legend();

        // Define data
        chart.data = [
            {% for stat in datapoints %}
            {
                "date": new Date("{{ stat.datetime.isoformat }}"),
                {% for mach_type_phase, value in stat.items %}
                {% if mach_type_phase != "datetime" %}
                "{{ mach_type_phase.0 }} - {{ mach_type_phase.1 }}": {{ value.max }},
                {% endif %}
                {% endfor %}
            },
            {% endfor %}
        ];
    </script>
</body>
